In [1]:
import pandas as pd


df = pd.read_csv('../Data\chipotle.tsv',sep = '\t')
print(df.head())

<>:4: SyntaxWarning: invalid escape sequence '\c'
<>:4: SyntaxWarning: invalid escape sequence '\c'
C:\Users\vutun\AppData\Local\Temp\ipykernel_26800\1870478058.py:4: SyntaxWarning: invalid escape sequence '\c'
  df = pd.read_csv('../Data\chipotle.tsv',sep = '\t')

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [2]:
print(df.item_price.dtype)

object

#Apply column trong bang

In [3]:
df['item_price'] = df['item_price'].apply(lambda x: float(x.replace('$','')))

In [4]:
print(df.head())
print(df['item_price'].dtype)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
float64

In [5]:
df['total_price'] = df['item_price']*df['quantity']

In [6]:
print(df.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price  total_price
0                                                NaN        2.39         2.39
1                                       [Clementine]        3.39         3.39
2                                            [Apple]        3.39         3.39
3                                                NaN        2.39         2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98        33.96

In [7]:
tong = df['total_price'].sum()
print(tong)

39237.02

GROUP BY

In [8]:
df1 = df.groupby('item_name')['item_price'].sum()
print(df1.head())

item_name
6 Pack Soft Drink        356.95
Barbacoa Bowl            672.36
Barbacoa Burrito         894.75
Barbacoa Crispy Tacos    120.21
Barbacoa Salad Bowl      106.40
Name: item_price, dtype: float64

In [9]:
print(df['item_price'].nunique())

78