In [40]:
#hbsahca

importing data

In [41]:
import pandas as pd
import numpy as nb

loading data

In [42]:
df = pd.read_parquet('../Data\yellow_tripdata_2023-01.parquet')
x = nb.array([1,2,3])

In [43]:
df.head()
x

array([1, 2, 3])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

3.FEATURE ENGINEERING

In [45]:
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime

In [46]:
df['duration'] = df['duration'].dt.total_seconds()/ 60

In [47]:
df['duration'].head()

0     8.433333
1     6.316667
2    12.750000
3     9.616667
4    10.833333
Name: duration, dtype: float64

In [48]:
df_size = df.shape